<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
    <style>
        /*======================
    404 page
=======================*/
    </style>

    <div class="bg-black flex flex-col justify-center items-center w-screen h-screen p-4">
        <h1 class="text-white text-4xl p-4">
            Look like you're lost
        </h1>
        <p class="text-white text-2xl p-4">The page you are looking for not avaible!</p>

        <a href="/" class="link_404 p-3 bg-amber-400 rounded-lg">Go to Home</a>

    </div>

</body>

</html>