<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home ● The Adagio India</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>

    <div class="justify-center flex h-32  pt-8 bg-black ">
        <a href="/">
            <h1 id="brandname" class=" w-min  font-signature text-white text-center text-3xl  cursor-pointer">
                The Adagio
            </h1>
        </a>
    </div>
    <!-- Menu -->
    <div class="h-10 bg-black flex no-underline list-none text-white justify-center space-x-20 p-2">
        <li>
            <a href="/" class="  p-1 rounded-md hover:text-xl ease-in-out duration-300 text-white">Home</a>
        </li>
        <li>
            <a href="/about" class=" p-1 rounded-md hover:text-xl ease-in-out duration-300 text-white">About</a>
        </li>
        <li>
            <a href="/bookings" class=" p-1 rounded-md hover:text-xl ease-in-out duration-300 text-white">Bookings</a>
        </li>
        <li>
            <a href="/contact" class=" p-1 rounded-md hover:text-xl ease-in-out duration-300 text-white">Contact</a>
        </li>
    </div>
    <div class="">
        <h2 class="text-2xl p-2 text-center">Welcome</h2>
        <div class="p-2 text-center">
            <p>
                The Adagio is a Musical Band From Ranchi, Jharkhand Having Three Members / Founders
            </p>
            <div class="flex justify-center space-x-6 py-2">
                <div>
                    <h5>Yash Raj</h5>
                    <a target="_blank" href="https://www.instagram.com/themusicalstoryteller/">yashrajmusicc</a>
                </div>
                <div>
                    <h5>Anvesh</h5>
                    <a target="_blank" href="https://www.instagram.com/themusicalstoryteller/">themusicalstoryteller</a>
                </div>
                <div>
                    <h5>Shubhu</h5>
                    <a target="_blank" href="https://www.instagram.com/themusicalstoryteller/">groovysubhprec</a>
                </div>
            </div>
        </div>
        <div class="flex justify-center m-8">

            <div class="flex justify-center bg-black rounded-xl flex-wrap max-w-max ">
                <iframe class="rounded-xl m-6" width="560" height="315"
                    src="https://www.youtube-nocookie.com/embed/AZY527BEfPE?controls=0" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe class="rounded-xl m-6" width="560" height="315"
                    src="https://www.youtube-nocookie.com/embed/zyNdtaj8YTQ?controls=0" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="pr-6 pl-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur numquam architecto adipisci
                repellendus
                aut nostrum fugiat veniam delectus totam nulla est voluptatum, impedit provident dolor possimus eligendi
                maiores! Quam, accusantium!
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit molestias voluptas amet, necessitatibus
                voluptates id odio aliquam itaque ratione asperiores rerum reprehenderit possimus obcaecati in, nostrum
                a
                modi quis similique.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident recusandae a quidem omnis,
                consectetur
                iusto natus possimus tempore eos. Officia, modi aperiam? Quo pariatur, cumque tempore cum doloremque
                aliquam
                magni dolores modi sint soluta non, error at? Et suscipit, rerum ab odio sint ea iusto eveniet impedit
                amet
                ipsam rem quaerat asperiores. Maxime mollitia minima beatae quis impedit veniam numquam soluta pariatur
                earum odio repellat molestias officia molestiae dignissimos optio odit, architecto tempora amet qui hic
                in
                cumque error. Commodi amet earum corporis pariatur in id, quo recusandae nihil cupiditate excepturi
                expedita? Tenetur autem rerum aperiam, eos molestias impedit numquam distinctio, in, inventore ratione
                labore voluptas odio culpa accusantium! Veritatis, quidem aperiam. Consequatur, ex hic! Facilis voluptas
                nihil eveniet quidem, culpa eius eaque.
            </p>
            <br>
            <p>
                ipsum dolor sit amet consectetur adipisicing elit. Corrupti quam quae saepe sapiente qui, molestiae
                minus
                eaque aspernatur repellat delectus, nostrum placeat itaque impedit temporibus repellendus maiores
                suscipit
                nobis quos nesciunt. Iste sed temporibus repellendus, adipisci omnis labore harum ea? Quis, quo quia
                illo
                fuga numquam voluptatibus ex, rerum facilis iste tempora asperiores dolor voluptates possimus cupiditate
                quisquam, minus iusto atque earum officia repellat deserunt sequi repudiandae quas nostrum? Voluptatum
                nemo
                laudantium ab assumenda eos reiciendis, saepe deserunt ullam sed facere culpa, porro exercitationem
                eaque
                sint vitae omnis facilis! Aperiam ad nam pariatur consectetur eveniet illum magni harum est eius porro
                ullam
                dolor corporis, expedita saepe quaerat tempore a nostrum veritatis quis amet? Explicabo officia a
                quibusdam
                adipisci ad at.
            </p>
        </div>
        <br>
    </div>
    <!-- Social Midia Link -->
    <div class="flex justify-evenly p-6">
        <a href="https://www.facebook.com/The-Adagio-101902505685043">
            <img class="delay-100 duration-300 ease-in-out h-10 hover:h-12" src="styles/Assets/fb.svg" alt="">
        </a>
        <a href="https://www.instagram.com/theadagioindia/">
            <img class="delay-100 duration-300 ease-in-out h-10 hover:h-12" src="styles/Assets/ig.svg" alt="">
        </a>
        <a href="https://www.youtube.com/channel/UCC_yfWN0Y8MdP5_UQmwpv9g">
            <img class="delay-100 duration-300 ease-in-out h-10 hover:h-12" src="styles/Assets/yt.svg" alt="">
        </a>
        <a href="">
            <img class="delay-100 duration-300 ease-in-out h-10 hover:h-12" src="styles/Assets/wp.svg" alt="">
        </a>
        <a href="https://twitter.com/adagio_the">
            <img class="delay-100 duration-300 ease-in-out h-10 hover:h-12" src="styles/Assets/tt.svg" alt="">
        </a>
    </div>
    <footer class="bg-black p-2">
        <p class="text-white text-center font-serif select-none">
            Copyright &copy; The Adagio
        </p>
    </footer>
</body>
<script src="./index.js"></script>

</html>